body {
  margin: 0;
  padding: 0;

  font: 100% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial Narrow", "Arial", "Lucida Grande", sans-serif; 
  background: #ebeb2b2;
  text-align: center; 

  color: #000000;
}

.container{
  margin-top:70px;
  width:75%;
  margin-left: auto; 
  margin-right: auto;  
}

@media screen and (max-width: 600px) {
    .container{
      width:95%;
    }
}

section{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;  

  text-align: left;

  background: #FFFFFF;  
}

section:before{
  display: block; 
  margin-top: -55px; 
  height: 55px; 

  visibility: hidden;

  content: "";  
}

section.sub{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;  

  text-align: left;

  background: #FFFFFF;  
}


p {
  width: 95%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2%;
  margin-right: 2%;

  text-align:left;  
}

h1,
h2,
h3,
h4 {
	text-align: left;
}

h2,
h3,
h4 {
  margin-left: 1%;
}


h1 {
  margin:0;
  padding:0;
  font-size: 1.7em;
  color:  #08306B;
}

h2 { 
  color: #08519C; }

h3 { color: #2171B5; }

h4 { color: #4292C6; }

h2#contact:before{
  display: block; 
  content: " "; 
  margin-top: -60px; 
  height: 60px; 
  visibility: hidden; 
}

a {
  color: #006837;
}

a:hover {
  color: #A6D96A;
}

a:active,
a:visited{
  color : #006837;
}

img{
  margin-left: 2%;
  margin-right: 2%;
  max-width:96%;

  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 2px solid #acacac;    
  overflow: hidden;
}


ol {
  margin-left: 5%;
  padding-left: 2%;

  list-style: decimal;
}

ul {
  margin-left: 5%;
  margin-top: 1em;
  margin-bottom: 1em;

	list-style-type: disc;
	list-style-position: outside;	
}


header {
  background: #E6E6E6;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid black;
}

.nav-toggle:before {
  color: #B4B4B4; /* Edit this to change the icon color */
}

.nav-collapse ul ul a {
  background: #E6E6E6;
}

.nav-collapse a {
  background: #E6E6E6;
  color: #08519C;
}

.nav-collapse a:visited {
  background: #E6E6E6;
  color: #08519C;
}


.nav-collapse a:hover{
  color: #4292C6;
}

.nav-collapse a:active,
.nav-collapse .active a {
  background: #B4B4B4;
  color: #08519C;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    border-left: 0px;
  }
}

rcode {
  font-family: Courier, monospace;
  font-size: 100%;
}


.box { 
  color: #000; 
  background: #E6E6E6; 
  border-width: 3px;
  border-color: black;
  border-style: solid;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  padding:10px;
  overflow: auto;

}

.imgbox{
  color: #000; 
  background: #E6E6E6; 
  padding: 10px; 
  border-width: 3px;
  border-color: black;
  border-style: solid;
  text-align: center;
  overflow: auto;
}

.imgbox img{
  max-width: 100%;
  max-height: 200px;
  border: 2px solid #acacac;  
}


hr.style-two {
    border: 0;
    height: 1px;
    position:relative;
    background-image: -webkit-linear-gradient(left, rgba(8, 48, 107,0),  #08306B, rgba(8, 48, 107,0)); 
    background-image:    -moz-linear-gradient(left, rgba(8, 48, 107,0), #08306B, rgba(8, 48, 107,0)); 
    background-image:     -ms-linear-gradient(left, rgba(08, 48, 107,0),  #08306B, rgba(8, 48, 107,0)); 
    background-image:      -o-linear-gradient(left, rgba(8, 48, 107,0),  #08306B, rgba(8, 48, 107,0)); 
}

pre{
  margin-left: 12%;
  margin-right: 12%;  
  margin-top: 1%;
  margin-bottom: 1%;  
  padding: 1%;
  width: 75%;

  overflow: scroll;
  text-align: left;

  background: #f2f2f2;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style:solid;
  border-width:1px;  
}

@media screen and (max-width: 600px) {
    pre{
      width: 95%;
      margin-left: 2%;
      margin-right: 2%;
    }
}


.footer{
  margin-bottom: 10px;
  font-size: 500%;
  font-color: #08306B;
  text-align: center;
}

#pagenav {
  width: 100%;
  float: left;
  margin: 5px;
  padding: 5px;
  list-style: none;
}

#pagenav li {
  float: left;
  margin: 0px 10px; 
  display: inline;
}

#pagenav li#curr {
  float: left;
  margin: 0px 10px;
  color: #4292C6;
  display: inline;
}


#pagenav li a{
  text-decoration: none;
  display: block;
}
