<!DOCTYPE html>
 <html>
 	{% include head %}
	<body class="oneColElsCtr">
		<div id="container">
			<div id = "mainContent">
				<h1>{{page.title}}</h1>
				{% include header %}

				<b>{{ page.date | date: "%B %d, %Y"}}</b>
				<div class = "box">
					{{ content }}
				    <p>
				    <i>
				    posted
					{% if page.author.size > 0 %}
				          by        
				        {% if page.author.size > 1 %}
				          {% for author in page.author %}
				            {% if author.url != null %}
				              <a href = "{{author.url}}">{{author.name}}</a>
				            {% else %}
				              {{author.name}}
				            {% endif %}
				            {% if forloop.rindex > 2 %}
				              {{ ", "}}
				            {% elsif forloop.rindex == 2 %}
				              {{" and "}}
				              {% endif %}             
				          {% endfor %}
				        {% else %}
				        	{% for author in page.author %}
					            {% if author.url != null %}
				    	          <a href = "{{author.url}}">{{author.name}}</a>
				        	    {% else %}
				            	  {{author.name}}
				            	{% endif %}
				            {% endfor %}
				        {% endif %}
			        {% endif %}
			        at {{page.date | date: "%I:%M %p"}} (more or less).
			      	</i>
			       	</p>

				</div>
				<ul id="pagenav">
					{% for post in site.posts %}
						{% if forloop.length > 1 %}
							{% assign post_and_date = post.date | prepend: post.title %} 
							{% assign this_post_and_date = page.date | prepend: page.title %}
							{% if this_post_and_date == post_and_date %}
								{% if forloop.first %}
									<li><a href = "{{site.baseurl}}{{post.previous.url}}"> &#8592;{{post.previous.title}}</a> </li>
								{% elsif forloop.last %}
									<li><a href = "{{site.baseurl}}{{post.next.url}}"> {{post.next.title}}&#8594;</a> </li>
								{% else %}
									<li><a href = "{{site.baseurl}}{{post.previous.url}}"> &#8592;{{post.previous.title}}</a> </li>
									<li><a href = "{{site.baseurl}}{{post.next.url}}"> {{post.next.title}}&#8594;</a> </li>								
								{% endif %}

							{% endif %}
						{% endif %}
					{% endfor %}

				</ul>
				{% if page.comments %}
					{% include comments %}
				{% endif %}

			</div>
			{% include footer %}
		</div>
	</body>
	{% if site.analytics %}
		{% include analytics %}
	{% endif %}
 </html>