<!DOCTYPE html>
 <html>
 	{% include head %}
	<body>
		{% include header %}
		<div class = "container">
			<section id = "home">
				<div class = "col span_2_of_2">
					<div class = "box">
				    <h2><a href="{{site.baseurl}}{{ page.url }}"><span>{{ page.title }}</span></a></h2>

				        <p>
				         <i>-{{ page.date | date: "%B %-d, %Y" }}</i>
				        </p>
							{{ content }}
					    <p>
					    <i>
					    posted
						{% if page.author.size > 0 %}
					          by        
					        {% if page.author.size > 1 %}
					          {% for author in page.author %}
					            {% if author.url != null %}
					              <a href = "{{author.url}}">{{author.name}}</a>
					            {% else %}
					              {{author.name}}
					            {% endif %}
					            {% if forloop.rindex > 2 %}
					              {{ ", "}}
					            {% elsif forloop.rindex == 2 %}
					              {{" and "}}
					              {% endif %}             
					          {% endfor %}
					        {% else %}
					        	{% for author in page.author %}
						            {% if author.url != null %}
					    	          <a href = "{{author.url}}">{{author.name}}</a>
					        	    {% else %}
					            	  {{author.name}}
					            	{% endif %}
					            {% endfor %}
					        {% endif %}
				        {% endif %}
				        at {{page.date | date: "%I:%M %p"}} (more or less).
				      	</i>
				       	</p>

					</div> <!-- box -->
					<ul id="pagenav">
						{% for post in site.posts %}
							{% if forloop.length > 1 %}
								{% assign post_and_date = post.date | prepend: post.title %} 
								{% assign this_post_and_date = page.date | prepend: page.title %}
								{% if this_post_and_date == post_and_date %}
									{% if forloop.first %}
										<li><a href = "{{site.baseurl}}{{post.previous.url}}"> &#8592;{{post.previous.title}}</a> </li>
									{% elsif forloop.last %}
										<li><a href = "{{site.baseurl}}{{post.next.url}}"> {{post.next.title}}&#8594;</a> </li>
									{% else %}
										<li><a href = "{{site.baseurl}}{{post.previous.url}}"> &#8592;{{post.previous.title}}</a> </li>
										<li><a href = "{{site.baseurl}}{{post.next.url}}"> {{post.next.title}}&#8594;</a> </li>								
									{% endif %}

								{% endif %}
							{% endif %}
						{% endfor %}

					</ul>
					{% if page.comments %}
						{% include comments %}
					{% endif %}					
				</div> <!-- cols -->
			</section>
		{% include footer %}			
		</div><!-- container -->


		<script src="{{site.baseurl}}/fixed-nav/js/fastclick.js"></script>
		<script src="{{site.baseurl}}/fixed-nav/js/scroll.js"></script>
		<script src="{{site.baseurl}}/fixed-nav/js/fixed-responsive-nav.js"></script>
	</body>
	{% if site.analytics %}
		{% include analytics %}
	{% endif %}
 </html>